// 字体 - 中文
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

// 字体 - 移动端
$font-family-mobile: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 字体 - 英文
$font-family-english: Arial, Helvetica, sans-senif, "Microsoft YaHei";

// BEM element 分隔符
$separator-element: '__';

// BEM modifier 分隔符
$separator-modifier: '--';

// 表头颜色
$table-head-color: #2d8cf0;

// 表头字体颜色
$table-head-font-color: #ffffff;

// 更新数量颜色
$tips-number-color: #ed3f14
